body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    
}
.container{
    width: 75%;
    margin: 0 auto;
    text-align: center;

}

*{
    box-sizing: border-box;

}
h1,h2,h3,h4,h5,h6,header{
    margin: 0;
    padding: 0;
}
header{
    padding: 10px;
    margin: 0;
    background-color:rgb(174, 217, 174);
    text-align: center;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
header img {
    max-width: 5vw;
}
header nav{
    display: flex;
    color:white
}
header nav p{
    margin-right: 50px;
    font-weight: bold;

}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
  color: #000000;
}

.main_header{
    background: url(static/img/main_header2.jpg) no-repeat;
    background-size: cover;
    height:700px;
    color: #ffffff;
    font-size:xxx-large;
    align-items:center;
    justify-content:center;
    position: relative;
    z-index: -1;
    width: 100%;
}

.main_header h1{
    font-family: 'Dancing Script', cursive;
}
.main_header h2{
    background-color: rgb(174, 217, 174);
    
}
.main_header_title{
    position: absolute;
    top: 40%;
    left: 25%;

}

.gif{
    width: 35%;
}

.block_header{
    margin: 40px 0;
    font-size: 25px;
}

.cards{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}

.card{
    text-align: center;
}

.card:hover h3{

    border-bottom: solid 2px;
}

.food_img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
}

.food_img{ 
    border-radius: 50% 50%; 
    width: 10vw;
    max-height: 10vw;
    overflow: hidden;
}


.btn_more{
    background-color: rgb(255, 255, 0);
    border-radius: 30px;
    padding: 0.1px 15px;
    font-size: 17px;
    font:#ffff;
}

.price{
    display: flex;
    justify-content: space-around;
}
.old_price{
    text-decoration: line-through;
}

form{
    background-color: #b5f3b5;
    text-align: left;
    padding: 30px;
    border-radius: 40px;
}
label{
    font-size: 21px;
}
input{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: 0px;
    padding-left: 30px;
}
.input_btn{
    background-color: rgb(255, 255, 0);
    width: 150px;
    padding: 0;
}

